streamlit==1.36.0
langchain==0.3.7
langchain-community==0.3.7
langchain-groq==0.2.1
langchain-huggingface==0.1.2
faiss-cpu>=1.9.0.post1
pypdf==4.3.1
python-dotenv==1.0.1
cryptography>=41.0.0
